<html>
    <head>
        <title>Projeto DTITA</title>
    </head>

    <body>
        <div>
            <h1><a href="">Captura de Movimentos</a></h1>
        </div>

        <div>
            <p>published: 06.Set.2016, 11:26</p>
            <h2><a href="">Conceito</a></h2>

             <p>A Libras é uma língua oficial no Brasil. Entretanto é um idioma jovem, e vem crescendo organicamente à medida que os surdos vão ocupando espaços na sociedade da informação. Dado que o português é uma língua secundária para os surdos, e que a inserção da Libras no contexto educacional é ainda incipiente, no que tange o processo primário de alfabetização e aquisição cognitiva da linguagem, tem-se uma parcela significativa da sociedade excluída de aspectos fundamentais de cidadania.</p>

            <p>Muitos aspectos da constituição gramatical da Libras ainda são objeto de estudo e estão em pleno processo de formalização. Nas línguas de sinais ocorrem fenômenos linguísticos que não encontram paralelo no formalismo gramatical de línguas oralizadas.</p>

            <p>A criação da Rede Nacional de Captura de Movimento (RNCM) irá promover a cooperação de instituições no estudo e difusão da Língua Brasileira de Sinais (Libras). Para essa cooperação será estruturado um banco de dados de gesticulações e expressões faciais em 3D, para otimização do processo de registro de sinais, de modo a se ter um ganho de escala e eficiência na construção da base de dados que será disponibilizada para a comunidade. Este banco de dados deverá prover os modelos básicos para a criação de uma interface de comunicação em Libras, na forma de personagens virtuais (avatares), e também disponibilizar os dados obtidos com as capturas, para que a comunidade científica possa ter acesso e utilizar em estudos de comportamento e da própria linguagem de sinais.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>